// Define variable
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1200px;

// Define @Mixins
@mixin mobile {
    @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
  }

@mixin position($x,$y,$z) {
    position: absolute;
    top: $x;
    left: $y;
    z-index: $z;
    @if  $x == 50% and $y == 50% {
        transform: translate(-50%,-50%);
    }
    @else if $x == 50%{
        transform: translateY(-50%);
    }
    @else if $y == 50%{
        transform: translateX(-50%);
    }
}

@mixin backgroundImg($path,$x:0,$y:0,$w:0,$h:0){
    background: {
        image: url($path);
        position: $x $y;
        size: $w $h;
    }
    background-repeat: no-repeat;
}

@mixin box-sizing($w:auto,$h:auto,$m:0,$p:0){
    width: $w;
    height: $h;
    margin: $m;
    padding: $p;
}

@mixin setFont($size:14px,$weight:none,$lineHeight:auto,$align:none,$color:black){
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    text-align: $align;
    color: $color;
}

// imports
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
// font-family: 'Noto Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
//font-family: 'Oswald', sans-serif;

// Define default elements
*
{
    margin: 0;
    padding: 0;
}


@include desktop(){

    #airs-header
    {
        @include box-sizing(100%, 50px);
        background: rgba($color: #000000, $alpha: 0.8);
        h1.airs-logo{
            height: 100%;
            margin-left: 25px;
            color: white;
            font-size: 22pt;
            font-family: 'Oswald', sans-serif;
            line-height: 50px;
        }
    
    }
    #airs-content
    {   
        @include box-sizing(100%, 1000px);
        position: relative;
        div.airs-main-content
        {   
            @include box-sizing(1200px, 100%);
            @include position(50%,50%,0);
            section.airs-head-line-section
            {   
                @include box-sizing(100%, 80px);
                padding-top: 15px;
                padding-left: 30px;
                padding-right: 30px;
                background: rgb(245, 243, 243);
                box-shadow: 0 1.5px 8px 5px rgba($color: gray, $alpha: 0.4);
                box-sizing: border-box;
                span.airs-head-line
                {
                    width: 450px;
                    font-size: 25pt;
                    font-weight: 700;
                    font-family: 'Noto Sans KR', sans-serif;
                }
                div.airs-head-btn-box
                {
                    @include box-sizing(200px, 65px);
                    float: right;
                    button
                    {
                        @include box-sizing(48px, 48px);
                        border: 0;
                        outline: 0;
                        &:first-child
                        {
                            margin-right: 25px;
                        }
                    }
                    button.airs-back-btn
                    {
                        background: url("https://img.icons8.com/flat_round/64/000000/arrow-left.png") 0 0/ 48px 48px no-repeat;
                    }
                    button.airs-forward-btn
                    {
                        background: url("https://img.icons8.com/flat_round/64/000000/arrow-right.png") 0 0/ 48px 48px no-repeat;
                    }
                }
            }
            section.airs-backup-table-section
            {
                @include box-sizing(100%, 905px);
                background: rgb(245, 243, 243);
                box-shadow: 0 1.5px 8px 5px rgba($color: gray, $alpha: 0.4);
                box-sizing: border-box;
                margin-top: 15px;
                table.airs-table
                {
                    @include box-sizing(100%,auto);
                    border-collapse: collapse;
                    thead.airs-table-thead
                    {
                        
                        tr.airs-table-row
                        {
                            @include box-sizing(100%, 50px);
                            background: rgb(109, 107, 107);
                            color: white;
                            th
                            {
                                font-family: 'Noto Sans KR', sans-serif;
                                border-left: 1.2px solid gray;
                                &:first-child
                                {
                                    border: none;
                                }   
                            }
                            .airs-row1
                            {
                                width: 25%;
                            }
                            .airs-row2
                            {
                                position: relative;
                                .airs-calendar-btn{
                                    @include box-sizing(150px , 40px);
                                    position: absolute;
                                    right: 2vw;
                                    top: 5px;
                                    border-radius: 15px;
                                    outline: none;
                                    border: 2px solid white;
                                    color: white;
                                    font-family: 'Noto Sans KR', sans-serif;
                                    font-size: 15pt;
                                    font-weight: 700;
                                    background-color: rgb(77, 175, 214);
                                    &:hover{
                                        border: 4px solid rgb(77, 175, 214);
                                        color: rgb(77, 175, 214);
                                        background-color: white;
                                    }
                                }     

                            }
                            .airs-row3
                            {
                                width:10%;
                            }
                        }
                    }
                    tbody.airs-table-tbody
                    {   
                       
                        tr.airs-table-col
                        {
                            &:first-child,
                            &:nth-child(2n+1)
                            {
                                background: rgb(214, 212, 212);
                            }
                            &:nth-child(2n)
                            {
                                background: rgb(169, 169, 170);
                            }
                            @include box-sizing(100%, 60px);
                            td
                            {
                                font-family: 'Noto Sans KR', sans-serif;
                                font-size: 20pt;
                                font-weight: 700;
                                border-left: 1.2px solid gray;
                                text-align: center;
                                color: rgb(56, 55, 55);
                                &:first-child
                                {
                                    width: 25%;
                                    border: none;
                                }
                                &:nth-child(2)
                                {
    
                                }
                                &:last-child
                                {
    
                                    width:10%;
                                }
                            }
                        }
                    }
                }
                div.airs-non-data-table-box{
                    @include box-sizing(100%);
                    height:calc(100% - 50px);
                    padding-left: 300px;
                    box-sizing: border-box;
                    div.airs-non-data-table-aria{
                        @include box-sizing(600px, 100%);
                        position: relative;
                        img{
                            @include position(20%, 50%, 1);
                        }
                        h1{
                            @include position(60%, 10%, 1);
                            font-size: 25pt;
                            font-family: 'Noto Sans KR', sans-serif;
                            font-weight: bold;
                            color: rgb(90, 90, 90);
                        }
                    }
                }
            }
        }
    }
    #airs-popup-back{
        display: none;
        position: absolute;
        top:0;
        z-index: 2;
        @include box-sizing(100%, 100%);
        .airs-popup-box{
            @include box-sizing(1100px, 800px);
            background: rgb(217, 215, 247);
            border-radius: 25px;
            box-shadow: 0 1.5px 8px 5px rgba($color: gray, $alpha: 0.4);
            box-sizing: border-box;
            @include position(50%, 50%, 3);
            table{
                text-align: center;
                width: 100%;
                .airs-cal-table-tr1{
                    th{
                        font-size: 23pt;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-weight: 700;
                        text-align: center;
                        position: relative;
                        b{
                            margin-bottom: 10px;
                        }
                        .airs-cal-back,
                        .airs-cal-forward{
                            position: absolute;
                            top: 1px;
                            @include box-sizing( 45px,45px);
                            color: #e070d7;
                            text-shadow: -2px 0 #F2F1F6, 0 2px #F2F1F6, 2px 0 #F2F1F6, 0 -2px #F2F1F6;
                            &:hover{
                                color: #f712e7;
                                text-shadow: -1px 0 #e070d7, 0 1px #e070d7, 1px 0 #e070d7, 0 -1px #e070d7;
                            }
                        }
                        .airs-cal-back{
                            left:15vw;
                        }
                        .airs-cal-forward{
                            right:15vw;
                        }
                        .airs-cal-exit-btn{
                            position: absolute;
                            top: 2px;
                            right:2vw;
                            @include box-sizing(40px, 40px);
                            background: url("https://lh3.googleusercontent.com/proxy/zKRrPw2ThMf1HwHoCaZ3O-lkExTRR92QNmHrAGNWJUyXMqrj_GnSgyEIYhPMy1uLtpo9mHmlzg4JMGASFgPQPp1E248lfy1a5pZzexSBjhEC9THRYMc")  0 0/ 40px 40px no-repeat;
                        }
                    }
                    
                }
                .airs-cal-table-tr2{
                    th{
                        font-size: 15pt;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-weight: 500;
                        text-align: center;
                        width: 14.285%;
                        height:60px;
                        background-color: #e2b2de;
                        border-radius:7px;
                    }
                    .sat{
                        color: blue;
                    }
                    .sun{
                        color: red;
                    }
                }
                .airs-cal-table-tr3{
                    text-align: center;
                    td{
                        background-color: white;
                        border-radius: 7px;
                        @include box-sizing(14.285%,100px)
                    }
                    .sat{
                        color: blue;
                    }
                    .sun{
                        color: red;
                    }
                }
            }
        }
    }
}

@include tablet(){
    #airs-header
    {
        @include box-sizing(100%, 45px);
        background: rgba($color: #000000, $alpha: 0.8);
        h1.airs-logo{
            height: 100%;
            margin-left: 20px;
            color: white;
            font-size: 19pt;
            font-family: 'Oswald', sans-serif;
            line-height: 45px;
        }
    
    }
    #airs-content
    {   
        @include box-sizing(100%, 900px);
        position: relative;
        div.airs-main-content
        {   
            @include box-sizing(1000px, 100%);
            @include position(50%,50%,0);
            section.airs-head-line-section
            {   
                @include box-sizing(100%, 70px);
                padding-top: 12px;
                padding-left: 30px;
                padding-right: 30px;
                background: rgb(245, 243, 243);
                box-shadow: 0 1.5px 8px 5px rgba($color: gray, $alpha: 0.4);
                box-sizing: border-box;
                span.airs-head-line
                {
                    width: 340px;
                    font-size: 23pt;
                    font-weight: 700;
                    font-family: 'Noto Sans KR', sans-serif;
                }
                div.airs-head-btn-box
                {
                    @include box-sizing(200px, 65px);
                    float: right;
                    button
                    {
                        @include box-sizing(42px, 42px);
                        border: 0;
                        outline: 0;
                        &:first-child
                        {
                            margin-right: 25px;
                        }
                    }
                    button.airs-back-btn
                    {
                        background: url("https://img.icons8.com/flat_round/64/000000/arrow-left.png") 0 0/ 42px 42px no-repeat;
                    }
                    button.airs-forward-btn
                    {
                        background: url("https://img.icons8.com/flat_round/64/000000/arrow-right.png") 0 0/ 42px 42px no-repeat;
                    }
                }
            }
            section.airs-backup-table-section
            {
                @include box-sizing(100%, 700px);
                background: rgb(245, 243, 243);
                box-shadow: 0 1.5px 8px 5px rgba($color: gray, $alpha: 0.4);
                box-sizing: border-box;
                margin-top: 12px;
                table.airs-table
                {
                    @include box-sizing(100%,auto);
                    border-collapse: collapse;
                    thead.airs-table-thead
                    {
                        
                        tr.airs-table-row
                        {
                            @include box-sizing(100%, 45px);
                            background: rgb(109, 107, 107);
                            color: white;
                            th
                            {
                                font-family: 'Noto Sans KR', sans-serif;
                                border-left: 1.2px solid gray;
                                &:first-child
                                {
                                    border: none;
                                }   
                                
                            }
                            .airs-row1
                            {
                                width: 25%;
                            }
                            .airs-row2
                            {
                                
                            }
                            .airs-row3
                            {
                                width:10%;
                            }
                        }
                    }
                    tbody.airs-table-tbody
                    {   
                       
                        tr.airs-table-col
                        {
                            &:first-child,
                            &:nth-child(2n+1)
                            {
                                background: rgb(214, 212, 212);
                            }
                            &:nth-child(2n)
                            {
                                background: rgb(169, 169, 170);
                            }
                            @include box-sizing(100%, 50px);
                            td
                            {
                                font-family: 'Noto Sans KR', sans-serif;
                                font-size: 18pt;
                                font-weight: 700;
                                border-left: 1.2px solid gray;
                                text-align: center;
                                color: rgb(56, 55, 55);
                                &:first-child
                                {
                                    width: 25%;
                                    border: none;
                                }
                                &:nth-child(2)
                                {
    
                                }
                                &:last-child
                                {
    
                                    width:10%;
                                }
                            }
                        }
                    }
                }
                div.airs-non-data-table-box{
                    @include box-sizing(100%);
                    height:calc(100% - 50px);
                    box-sizing: border-box;
                    div.airs-non-data-table-aria{
                        @include box-sizing(100%, 100%);
                        position: relative;
                        img{
                            width: 250px;
                            
                            @include position(20%, 50%, 1);
                        }
                        h1{
                            @include position(70%, 25%, 1);
                            font-size: 23pt;
                            font-family: 'Noto Sans KR', sans-serif;
                            font-weight: bold;
                            color: rgb(90, 90, 90);
                        }
                    }
                }
            }
        }
    }
    #airs-popup-back, .airs-calendar-btn{
        display: none !important;
    }

}

@include mobile()
{
    #airs-header
    {
    @include box-sizing(100%,40px);
    background: rgba($color: #000000, $alpha: 0.8);
        h1.airs-logo
        {
            height: 100%;
            margin-left: 15px;
            color: white;
            font-size: 15pt;
            font-family: 'Oswald', sans-serif;
            line-height: 40px;
        }
    }
    #airs-content
    {   
        @include box-sizing(100%, 800px);
        position: relative;
        div.airs-main-content
        {   
            @include box-sizing(100%, 100%);
            section.airs-head-line-section
            {   
                @include box-sizing(100%, 70px);
                padding-top: 18px;
                padding-left: 12px;
                padding-right: 10px;
                background: rgb(245, 243, 243);
                box-shadow: 0 1.5px 8px 5px rgba($color: gray, $alpha: 0.4);
                box-sizing: border-box;
                span.airs-head-line
                {
                    width: 250px;
                    font-size: 18pt;
                    font-weight: 700;
                    font-family: 'Noto Sans KR', sans-serif;
                }
                div.airs-head-btn-box
                {
                    @include box-sizing(120px, 40px);
                    float: right;
                    button
                    {
                        @include box-sizing(36px, 36px);
                        border: 0;
                        outline: 0;
                        &:first-child
                        {
                            margin-right: 15px;
                        }
                    }
                    button.airs-back-btn
                    {
                        background: url("https://img.icons8.com/flat_round/64/000000/arrow-left.png") 0 0/ 36px 36px no-repeat;
                    }
                    button.airs-forward-btn
                    {
                        background: url("https://img.icons8.com/flat_round/64/000000/arrow-right.png") 0 0/ 36px 36px no-repeat;
                    }
                }
            }
            section.airs-backup-table-section
            {
                @include box-sizing(100%, 700px);
                background: rgb(245, 243, 243);
                box-shadow: 0 1.5px 8px 5px rgba($color: gray, $alpha: 0.4);
                box-sizing: border-box;
                margin-top: 10px;
                table.airs-table
                {
                    @include box-sizing(100%,auto);
                    border-collapse: collapse;
                    thead.airs-table-thead
                    {
                        
                        tr.airs-table-row
                        {
                            @include box-sizing(100%, 40px);
                            background: rgb(109, 107, 107);
                            color: white;
                            th
                            {
                                font-family: 'Noto Sans KR', sans-serif;
                                border-left: 1.2px solid gray;
                                &:first-child
                                {
                                    border: none;
                                }   
                            }
                            .airs-row1
                            {
                                width: 25%;
                            }
                            .airs-row2
                            {
                                
                            }
                            .airs-row3
                            {
                                width:10%;
                            }
                        }
                    }
                    tbody.airs-table-tbody
                    {   
                       
                        tr.airs-table-col
                        {
                            &:first-child,
                            &:nth-child(2n+1)
                            {
                                background: rgb(214, 212, 212);
                            }
                            &:nth-child(2n)
                            {
                                background: rgb(169, 169, 170);
                            }
                            @include box-sizing(100%, 50px);
                            td
                            {
                                font-family: 'Noto Sans KR', sans-serif;
                                font-size: 12pt;
                                font-weight: 700;
                                border-left: 1.2px solid gray;
                                text-align: center;
                                color: rgb(56, 55, 55);
                                &:first-child
                                {
                                    width: 25%;
                                    border: none;
                                }
                                &:nth-child(2)
                                {
    
                                }
                                &:last-child
                                {
    
                                    width:10%;
                                }
                            }
                        }
                    }
                }
                div.airs-non-data-table-box{
                    @include box-sizing(100%);
                    height:calc(100% - 50px);
                    
                    box-sizing: border-box;
                    div.airs-non-data-table-aria{
                        @include box-sizing(100%, 100%);
                        position: relative;
                        img{
                            @include position(20%, 50%, 1);
                            width: 200px;
                            height: 200px;
                        }
                        h1{
                            @include position(60%, 20%, 1);
                            font-size: 18pt;
                            font-family: 'Noto Sans KR', sans-serif;
                            font-weight: bold;
                            color: rgb(90, 90, 90);
                        }
                    }
                }
            }
        }
    }
    #airs-popup-back,.airs-calendar-btn{
        display: none !important;
    }
}